In [1]:
"""
Landon Buell
CS 750.01
Mini project test
3 March 2020
"""

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
# Load in Landscape data features 
landscape_data = pd.read_csv('miniproject_landscape.csv',delimiter=',',
                            header=0,index_col=False)
#print(landscape_data.shape)
landscape_data.head(-10)

,cellid,long,lat,bio1,bio2,bio3,bio4,bio5,bio6,bio7,...,bio10,bio11,bio12,bio13,bio14,bio15,bio16,bio17,bio18,bio19
0,1,-74.979167,46.979167,1.972500,10.513667,24.274258,1181.943379,21.180000,-22.132,43.312000,...,15.678667,-13.436666,1064,117,62,21.151315,340,198,330,217
1,2,-74.937500,46.979167,1.833333,10.466000,24.191013,1182.354341,21.108000,-22.156,43.264000,...,15.587334,-13.534667,1075,118,62,21.153771,343,200,334,219
2,3,-74.895833,46.979167,1.790833,10.385667,23.998675,1188.381103,21.064001,-22.212,43.276001,...,15.616667,-13.660000,1071,117,62,21.266918,342,198,333,219
3,4,-74.854167,46.979167,1.869167,10.429666,24.044786,1190.760350,21.136000,-22.240,43.375999,...,15.708000,-13.644667,1050,116,60,22.081915,337,191,329,213
4,5,-74.812500,46.979167,1.738167,10.633667,24.355627,1185.535108,21.212000,-22.448,43.660000,...,15.541334,-13.696000,1061,117,61,21.583096,339,195,332,216
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21782,21783,-74.645833,40.020833,11.925333,12.052667,33.159092,880.817764,29.559999,-6.788,36.348000,...,22.685333,0.959333,1177,119,75,11.914130,331,263,328,263
21783,21784,-74.604167,40.020833,11.923667,11.798000,32.721322,879.090282,29.448000,-6.608,36.056000,...,22.660000,0.983333,1172,119,76,11.598851,329,264,325,264
21784,21785,-74.562500,40.020833,11.936500,11.839666,32.815040,877.855978,29.472000,-6.608,36.080000,...,22.660000,1.017333,1167,118,76,11.243145,326,264,323,264
21785,21786,-74.520833,40.020833,11.926667,11.983333,33.121430,876.204157,29.448000,-6.732,36.180000,...,22.626000,1.036667,1162,118,77,11.050476,324,264,320,264
21786,21787,-74.479167,40.020833,11.888333,11.803334,32.841774,874.012174,29.288000,-6.652,35.940000,...,22.558000,1.035333,1157,117,78,10.636041,320,265,317,265

In [4]:
# Load in synthetic training data
synth_train = pd.read_csv('miniproject_synthetic_train.csv',delimiter=',',
                          header=0,index_col=False)
print(synth_train.shape)
print(synth_train.head(-10))

(3204, 2)
      cellid  freq
0      20284     1
1      15844     1
2       4820     1
3      18635     1
4       3987     1
...      ...   ...
3189   16234     3
3190   17105     4
3191   17484     2
3192   13781     1
3193    2521     1

[3194 rows x 2 columns]